


<div class="row">
    <!-- box at horizontally center-->
    <div class="col-lg-11 col-xl-9 mx-auto">

        <div class="card">

            <div class="card-header bg-secondary text-white" style="color:indigo;height:50vh;text-align: center;">
                <h1><p>welcome to start the exam !</p></h1>
            </div>

                <div class="card-footer text-right">
                <a class="btn btn-primary" [routerLink]=" [ '/step1' ] ">Start Wizard</a>
                </div>
        </div>
