<div class="row">
    <!-- box at horizontally center-->
    <div class="col-lg-11 col-xl-9 mx-auto">

        <div class="card">

            <div class="card-header bg-secondary text-white">
                <h1>Profile Wizard</h1>
            </div>

          
                <!-- box 1 ends -->
                <div class="card-body" style="background-color:blue">
                <!-- box 2 starts -->
                <div class="box-2 pt-2" style="background-color:orange;height:50vh;">
                    <h3>Step 4: WIzard Completed </h3>

                    <div class="row" style="text-align: center;vertical-align: middle;color: blueviolet;">
                        <div class="col-xl-9 mx-auto mt-3">

                       <span style=" font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;font-size: larger;"> Wizard completed successfully..!</span>

                        </div>
                    </div>

                </div>
                <!-- box 2 ends -->
            </div>

        
            <div class="card-footer text-center">
                <a class="btn btn-primary" [routerLink]=" [ '/welcome' ] ">home</a>
                </div>
        </div>
    </div>
</div>
                